# Домашнее задание. Инструменты для оперативной работы с данными

### Для работы с данными будем использовать файлы из папки names cо статистикой имен новорожденных за каждый год

Для начала необходимо загрузить "сырые" данные из файла:

In [1]:
import pandas as pd


def csv_to_dataframe(year):
    file_name = f'names/yob{year}.txt'
    dataframe = pd.read_csv(file_name, header=None, names=['name', 'gender', 'count'])
    dataframe['year'] = year
    return dataframe

Для того чтобы загрузить данные сразу за несколько лет, используем "собирающую" функцию:

In [2]:
def many_csv_to_dataframe(years):
    dataframe_all = pd.DataFrame()
    for year in years:
        if dataframe_all.empty:
            dataframe_all = csv_to_dataframe(year)
        else:
            dataframe_all = pd.concat([dataframe_all, csv_to_dataframe(year)])
    return dataframe_all

Сейчас попробуем определить ТОП-3 популярных имен за указанные года:

In [6]:
def count_top3(*years):
    dataframe_all = many_csv_to_dataframe(years)
    top3_name_data_frame = dataframe_all[['name', 'count']].groupby(['name']).sum().sort_values(by='count',
                                                                                                ascending=False).head(3)
    return top3_name_data_frame

top3 = count_top3(1900, 1950, 2000)
top3

         count
name
James   111789
John    109601
Robert  101368

А теперь посмотрим динамику изменения количества имен за указанные года в разрезе полов:

In [4]:
def count_dynamics(*years):
    dataframe_all = many_csv_to_dataframe(years)
    f_m_count_dynamics = dataframe_all[['year', 'gender', 'count']].groupby(['year','gender']).sum()
    return f_m_count_dynamics

count_dynamics(1900, 1950, 2000)

               count
year gender
1900 F        299798
     M        150480
1950 F       1713065
     M       1790437
2000 F       1815295
     M       1963202